html {
  font-family: "Microsoft YaHei",Arial,Helvetica,sans-serifsans-serif; }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #777; }

.carousel-tumi .container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto; }

p {
  margin: 0;
  padding: 0; }

a {
  color: #777;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

@font-face {
  font-family: "tumi";
  src: url("../fonts/iconfont.eot");
  /* IE9*/
  src: url("../fonts/iconfont.eot#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.tumi {
  font-family: "tumi" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.tumi-logo {
  font-family: "tumi" !important;
  font-size: 40px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.tumi-num {
  font-family: "tumi" !important;
  font-size: 40px;
  font-style: normal;
  color: white;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.tumi-submit {
  font-family: "tumi" !important;
  font-size: 30px;
  font-style: normal;
  color: #E8432F;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.header {
  border-bottom: solid 1px #ccc;
  position: relative;
  z-index: 100; }
  .header .contact > div {
    line-height: 40px;
    text-align: center; }
  .header .contact img {
    position: absolute;
    top: 40px;
    width: 120px;
    height: 136px;
    left: 36px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #ccc;
    display: none; }
  .header .contact .weChatA:hover img {
    display: block; }
  .header .contact .weChatA {
    display: block;
    width: 100%;
    height: 100%; }
  .header .contact > div + div {
    height: 40px;
    border-left: solid 1px #ccc; }
  .header .contact p {
    display: inline-block; }
  .header .contact .tumi-Blogin {
    height: 25px;
    background: #e92322;
    color: white;
    line-height: 13px; }

.navbar-tumi {
  background-color: #f8f8f8;
  border: none;
  border-bottom: solid 1px #FB431F;
  margin-bottom: 0px;
  font-size: 16px;
  position: relative;
  z-index: 100; }

.navbar-tumi .navbar-brand {
  height: 80px;
  line-height: 50px;
  color: #777; }

.navbar-tumi .navbar-brand:hover,
.navbar-tumi .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent; }

.navbar-tumi .navbar-text {
  color: #777; }

.navbar-tumi .navbar-nav > li > a {
  color: #777;
  height: 80px;
  line-height: 66px; }

.navbar-tumi .navbar-nav > li > a:hover,
.navbar-tumi .navbar-nav > li > a:focus {
  color: #333;
  background-color: #f8f8f8;
  border-bottom: solid 3px red; }

.navbar-tumi .navbar-nav > .active > a,
.navbar-tumi .navbar-nav > .active > a:hover,
.navbar-tumi .navbar-nav > .active > a:focus {
  color: #555; }

.navbar-tumi .navbar-nav > .disabled > a,
.navbar-tumi .navbar-nav > .disabled > a:hover,
.navbar-tumi .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent; }

.navbar-tumi .navbar-toggle {
  border-color: #ddd; }

.navbar-tumi .navbar-toggle:hover,
.navbar-tumi .navbar-toggle:focus {
  background-color: #ddd; }

.navbar-tumi .navbar-toggle .icon-bar {
  background-color: #888; }

.navbar-tumi .navbar-collapse,
.navbar-tumi .navbar-form {
  border-color: #e7e7e7; }

.navbar-tumi .navbar-nav > .open > a,
.navbar-tumi .navbar-nav > .open > a:hover,
.navbar-tumi .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7; }

@media (max-width: 767px) {
  .navbar-tumi .navbar-nav .open .dropdown-menu > li > a {
    color: #777; }

  .navbar-tumi .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-tumi .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent; }

  .navbar-tumi .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-tumi .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-tumi .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7; }

  .navbar-tumi .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-tumi .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-tumi .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent; } }
.navbar-tumi .navbar-link {
  color: #777; }

.navbar-tumi .navbar-link:hover {
  color: #333; }

.navbar-tumi .btn-link {
  color: #777; }

.navbar-tumi .btn-link:hover,
.navbar-tumi .btn-link:focus {
  color: #333; }

.navbar-tumi .btn-link[disabled]:hover,
fieldset[disabled] .navbar-tumi .btn-link:hover,
.navbar-tumi .btn-link[disabled]:focus,
fieldset[disabled] .navbar-tumi .btn-link:focus {
  color: #ccc; }

.carousel-tumi {
  width: 100%;
  border-bottom: solid 1px #FB431F; }

#carousel-example-generic {
  background: url("../images/head-background.jpg") no-repeat;
  -webkit-background-size: 100% 100%;
  width: 100%;
  height: 630px; }

#carousel-example-generic2 {
  position: relative;
  width: 100%; }
  #carousel-example-generic2 img {
    width: 100%;
    position: absolute; }
  #carousel-example-generic2 .mask {
    width: 100%; }

.item {
  position: relative;
  -webkit-transition: .6s ease-in-out left;
  -o-transition: .6s ease-in-out left;
  transition: .6s ease-in-out left;
  width: 100%;
  height: 630px;
  opacity: 1; }

.carousel-caption {
  position: absolute;
  right: 50%;
  bottom: 50%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }

.show {
  height: 80px;
  width: 100%; }
  .show > .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
  .show .evaluate {
    background: #ffc907;
    padding: 50px;
    color: white; }
  .show .skill {
    background: #418bca;
    padding: 50px;
    color: white; }
  .show .title {
    position: relative;
    height: 80px;
    width: 100%; }
  .show h1 {
    display: inline-block;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    bottom: 0;
    padding-left: 40px; }
    .show h1 i {
      position: absolute;
      left: 0px;
      top: 50%;
      margin-top: -27px; }
  .show .line {
    position: absolute;
    bottom: -3px;
    left: 15px;
    display: inline-block;
    width: 25px;
    height: 3px;
    background: #FB431F; }
  .show .msg-show {
    height: 100px;
    margin-top: 20px; }
    .show .msg-show .media {
      padding-top: 30px;
      width: 100%;
      vertical-align: middle; }
  .show .msg-show-title {
    margin-top: 0px !important; }

.tumi-demo {
  margin-top: 0px; }
  .tumi-demo .tab-pane {
    width: 100%; }
    .tumi-demo .tab-pane .test {
      padding-bottom: 20px;
      height: 400px;
      background: url("../images/head-background-mobile.jpg") no-repeat center;
      -webkit-background-size: 100% 80%;
      background-size: 100% 80%; }
    .tumi-demo .tab-pane .test2 {
      padding-top: 80px; }
      .tumi-demo .tab-pane .test2 .media {
        margin-left: 35px;
        color: white; }
    .tumi-demo .tab-pane .test3 {
      color: white;
      font-size: 12px;
      padding-left: 30px; }
      .tumi-demo .tab-pane .test3 h4 {
        font-size: 12px; }
  .tumi-demo .nav > li > a {
    position: relative;
    display: block;
    padding: 0px 15px;
    height: 62px;
    line-height: 80px;
    color: white; }
  .tumi-demo .nav {
    padding-left: 40px;
    margin-bottom: 20px; }
  .tumi-demo .nav > li > a:hover {
    color: black; }
  .tumi-demo .container-fluid {
    width: 100%;
    padding: 50px 50px 110px 50px;
    background: #E8432F;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto; }

.nav-tabs-tumi {
  border-bottom: none; }

.nav-tabs-tumi > li {
  float: left;
  margin-bottom: 0px; }

.nav-tabs-tumi > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
  border-radius: 4px 4px 0 0; }

.nav-tabs-tumi > li > a:hover {
  border-color: #eee #eee #ddd;
  background-color: #E8432F; }

.nav-tabs-tumi > li.active > a,
.nav-tabs-tumi > li.active > a:hover,
.nav-tabs-tumi > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #E8432F;
  border-bottom: 2px solid #555; }

.nav-tabs-tumi.nav-justified {
  width: 100%;
  border-bottom: 0; }

.nav-tabs-tumi.nav-justified > li {
  float: none; }

.nav-tabs-tumi.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center; }

.nav-tabs-tumi.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto; }

@media (min-width: 768px) {
  .nav-tabs-tumi.nav-justified > li {
    display: table-cell;
    width: 1%; }

  .nav-tabs-tumi.nav-justified > li > a {
    margin-bottom: 0; } }
.nav-tabs-tumi.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px; }

.nav-tabs-tumi.nav-justified > .active > a,
.nav-tabs-tumi.nav-justified > .active > a:hover,
.nav-tabs-tumi.nav-justified > .active > a:focus {
  border: 1px solid #ddd; }

@media (min-width: 768px) {
  .nav-tabs-tumi.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0; }

  .nav-tabs-tumi.nav-justified > .active > a,
  .nav-tabs-tumi.nav-justified > .active > a:hover,
  .nav-tabs-tumi.nav-justified > .active > a:focus {
    border-bottom-color: #fff; } }
.motto .container-fluid {
  width: 100%;
  background: #E8432F;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto; }
.motto img {
  height: 200px;
  width: 100%;
  border-bottom: solid 1px #FB431F; }

.map {
  padding-top: 0px; }

.link-me {
  background: none; }
  .link-me .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin: 10px; }
    .link-me .input-group .input-group-addon {
      padding: 6px 12px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      color: #555;
      text-align: center;
      background-color: #efb73e;
      border: 1px solid #ccc;
      border-radius: 4px; }
  .link-me .media img {
    width: 166px;
    height: 186px;
    margin: 0 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; }
  .link-me .input-submit {
    float: left;
    width: 170px;
    height: 60px;
    line-height: 60px; }
    .link-me .input-submit .icon {
      float: left; }
    .link-me .input-submit .body {
      float: left; }
  .link-me .link-footer {
    height: 246px;
    width: 100%;
    background: #16a085; }
  .link-me .link-footer-mobile {
    height: 100px;
    width: 100%;
    background: #16a085; }

.footer {
  height: 100px;
  width: 100%;
  background: #795548;
  position: relative; }
  .footer p {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    text-align: center; }

/*# sourceMappingURL=index.css.map */
